* {
    font-family: 'Roboto Condensed', sans-serif;

    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; 
}

body {
    background-color: #F3F3F3;
}

#game, #game *, #original {
    transition: 500ms opacity;
}

#start {
    margin-left: 10px;
}

#game {
    display: none;
    opacity: 0;
    position: absolute;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    align-items: center;
    justify-content: center;
    flex-direction: column;
}

@media only screen and (max-width: 620px) {
    #grid {
        width: 80%;
    }
}
    
#score {
    text-align: right;
}

#health {
    margin-top: 25pt;
    display: none;
}

#prompt {
    margin: 10px;
    font-style: italic;
}

#buttons {
    display: flex;
}

#restart, #close {
    margin: 10px;
}

#touch {
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    position: absolute;
    display: none;
}